@import "@/styles/utility/variables";

.contentArea{
  display: flex;
  align-items: start;
  padding: 0 0 80px;
}
.courseImage{
  width: 40%;
  height: 100%;
  position: relative;
  padding: 0 15px;
  img{
    height:100%;
    width: 100%;
    object-fit:cover;
  }
}

.content{
  width:60%;
  padding: 0 15px;
}

.ratingCount{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 10px;
  padding-bottom: 20px;
  font-size: 25px;
  .rating{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap:2px;
    font-weight: 600;
    span{
      color: $primary-color;
      font-size: 20px;
    }
    .ratingIcon{
      color: $primary-color;
    }
  }
}
.students{
  color: $gray-color;
  font-weight: 600;
  font-size: 18px;
  display: flex;
  align-items: center;
  gap:5px;
}
.categories{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap:5px;
  margin-bottom: 12px;
  .categoty{
    background:$pale-yellow;
    padding:8px 12px;
    border-radius: 6px;
    font-size: 12px;
    font-weight: 600;
    text-wrap:nowrap;
  }
}
.details{
  h1{
    font-size: 44px;
    margin: -10px 0 15px;
    line-height: normal;
    color: $black;
    font-weight: 700;
  }
  hr{
    margin-top: 20px;
    margin-bottom: 20px;
  }
}

.prices{
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 10px;
  gap:10px;
  .oldPrice{color: rgba($black, 0.6); font-weight: 600; font-size: 15px;}
  .percent{color: $primary-color; font-weight: 600; font-size: 18px;}
}

.actionbtns{
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
  margin-top: 20px;

  .btn{
    padding: 16px;
    width: 50%;
    font-size: 16px;
    background-color: $primary-color;
    color: $white;
    text-align: center;
    outline: none;
    border: none;
    cursor: pointer;
    border-radius: 10px;
  }
  .btn2{
    padding: 14px;
    width: 50%;
    font-size: 16px;
    border-radius: 10px;
    background-color: transparent;
    border: 2px solid $black;
    color: $black;
    text-align: center;
    outline: none;
    cursor: pointer;
    transition: all 0.3s ease;
    &:hover{
      background-color: $black;
      color: $white;
    }
  }
}


.features{
  font-weight: 600;
  font-size: 15px;
  padding-bottom: 10px;
}
//--------- Responsive Styling ------------

@media screen and (max-width: 768px){
  .contentArea{
    flex-direction: column;
    margin-top: 50px;
    padding: 80px 0 15px;
  }
  .courseImage{
    width:100%;
    img{
      object-fit: cover;
    }
  }

  .content{width: 100%}
  .ratingCount{
    flex-direction: column;
    gap: 10px;
  }
  .summary{
    font-weight: 600;
    text-align: justify;
    line-height: normal;
    font-size: 15px;
  }
  .actionbtns{
    position: fixed;
    width: 100%;
    bottom: 0;
    left: 0;
    gap: 5px;
    padding: 10px;
    background-color: $white;
    z-index: 90;
    .btn2{background: $white}
  }
  .details{
    h1{  font-size: 24px; text-align: left; margin-top: 20px;}
    margin-bottom: 15px;
  }
  .ratingCount{flex-direction: row; font-size: 15px}
  .students{font-size: 15px;}
  .features{
    font-weight: 500;
    padding-bottom: 18px;
    text-align: justify;
  }
}

.list{
  margin-top: 20px;
}

.showMore{
  color: $primary-color;
  font-weight: 600;
  cursor: pointer;
  font-size: 15px;
}